<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/semantic.min.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="ui attached inverted menu" v-show="menu">
            <div class="ui container">
                <div class="header item">Brand</div>
                <div class="link item">Home</div>
                <div class="ui inverted dropdown item">
                    View
                    <i class="dropdown icon"></i>
                    <div class="transition hidden menu">
                        <div class="item">Create</div>
                        <div class="item">Delete</div>
                        <div class="item">Read</div>
                        <div class="item">Update</div>
                    </div>
                </div>
                <div class="right menu">
                    <div class="item">
                        <div class="ui transparent inverted input">
                            <input type="text" placeholder="Search" v-model="search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="ui attached inverted unstackable single line compact table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Coo</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="data of filterData">
                    <td v-for="prop of data">{{prop}}</td>
                </tr>
            </tbody>
        </table>

    </div>

    </div>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/semantic.min.js"></script>
    <script src="/static/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    menu: true,
                    message: 'The quick brown fox jumps over the lazy dog',
                    search: '',
                    tableData: [
                        { ISBN: '9780385504201', name: 'The Da Vinci Code', author: 'Dan Brown', price: '$199.99', flag: 'us' },
                        { ISBN: '9781250109361', name: 'Date with death', author: 'Julia Chapman', price: '$19.99', flag: 'it' },
                        { ISBN: '9780399124426', name: 'Red Dragon', author: 'Thomas Harris', price: '$19.99', flag: 'ru' },
                        { ISBN: '9781978128019', name: 'The Black Arrow', author: 'Robert Louis Stevenson', price: '$190.99', flag: 'ca' },
                        { ISBN: '9781513207667', name: 'Crome Yellow', author: 'Aldous Huxley', price: '$19.99', flag: 'lt' },
                        { ISBN: '9782060051000', name: 'Michelin Green Guide', author: 'Michelin', price: '$119.99', flag: 'lv' },
                        { ISBN: '9798527514308', name: 'White People Illustrated', author: 'Arthur Machen', price: '$19.99', flag: 'fr' },
                        { ISBN: '9780330469579', name: 'True Blue', author: 'David Baldacci', price: '$129.99', flag: 'am' },
                        { ISBN: '9789067660297', name: 'The Color Purple', author: 'Alice Walker', price: '$19.99', flag: 'fi' },
                        { ISBN: '9780393305531', name: 'A Clockwork Orange', author: 'Anthony Burgess', price: '$19999999.99', flag: 'ae' },
                        { ISBN: '9780986247439', name: 'Fire and Dust', author: 'Christopher Datta', price: '$19.99', flag: 'tr' },
                        { ISBN: '9780385504201', name: 'The Da Vinci Code', author: 'Dan Brown', price: '$19.99', flag: 'us' },
                        { ISBN: '9781250109361', name: 'Date with death', author: 'Julia Chapman', price: '$19.99', flag: 'it' },
                        { ISBN: '9780399124426', name: 'Red Dragon', author: 'Thomas Harris', price: '$1109.99', flag: 'ru' },
                        { ISBN: '9781978128019', name: 'The Black Arrow', author: 'Robert Louis Stevenson', price: '$19.99', flag: 'ca' },
                        { ISBN: '9781513207667', name: 'Crome Yellow', author: 'Aldous Huxley', price: '$1910.99', flag: 'lt' },
                        { ISBN: '9782060051000', name: 'Michelin Green Guide', author: 'Michelin', price: '$19.99', flag: 'lv' },
                        { ISBN: '9798527514308', name: 'White People Illustrated', author: 'Arthur Machen', price: '$19.99', flag: 'fr' },
                        { ISBN: '9780330469579', name: 'True Blue', author: 'David Baldacci', price: '$119.99', flag: 'am' },
                        { ISBN: '9789067660297', name: 'The Color Purple', author: 'Alice Walker', price: '$19.99', flag: 'fi' },
                        { ISBN: '9780393305531', name: 'A Clockwork Orange', author: 'Anthony Burgess', price: '$19.99', flag: 'ae' },
                        { ISBN: '9780986247439', name: 'Fire and Dust', author: 'Christopher Datta', price: '$109.99', flag: 'tr' },
                    ],
                    pageSize: 10,
                    pageNow: 1,
                    username: '',
                    password: '',
                    isLoading: '',
                }
            },
            computed: {
                filterData() {
                    return this.tableData.filter(data => !this.search || data.name.toLowerCase().includes(this.search))
                },
                paginateData() {
                    let start = (this.pageNow - 1) * this.pageSize
                    let end = this.pageNow * this.pageSize
                    return this.filterData.slice(start, end)
                },
                pageTotal() {
                    return Math.ceil(this.filterData.length / this.pageSize)
                },
            },
            methods: {
                refreshTable() {
                    $('body').toast({
                        message: 'Sorry, not available now',
                        class: 'error',
                        position: 'top center'
                    })
                },
            },
            mounted() {
                $('.ui.dropdown').dropdown({
                    on: 'hover',
                    showOnFocus: true,
                    delay: {
                        hide: 50,
                        show: 50,
                        search: 100,
                        touch: 100
                    }
                })
                $('.ui.dropdown').dropdown('set text', 'PXHK')
                $('.ui.form').form({
                    fields: {
                        username: 'empty',
                        password: 'minLength[6]',
                        terms: 'checked',
                    },
                })
                $('.ui.checkbox').checkbox('uncheck')
                $('.menu .item').tab()
            }
        })
        app.mount('#app')
    </script>
</body>

</html>